<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>newservlet</servlet-name>
        <servlet-class>com.mycompany.mentor1.newservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mentoreg</servlet-name>
        <servlet-class>com.mycompany.mentor1.mentoreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mentorlogin</servlet-name>
        <servlet-class>com.mycompany.mentor1.mentorlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcourse</servlet-name>
        <servlet-class>com.mycompany.mentor1.addcourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displaycourses</servlet-name>
        <servlet-class>com.mycompany.mentor1.displaycourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postassign</servlet-name>
        <servlet-class>com.mycompany.mentor1.postassign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtime</servlet-name>
        <servlet-class>com.mycompany.mentor1.addtime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentreg</servlet-name>
        <servlet-class>com.mycompany.mentor1.studentreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentlogin</servlet-name>
        <servlet-class>com.mycompany.mentor1.studentlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>request</servlet-name>
        <servlet-class>com.mycompany.mentor1.request</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newservlet</servlet-name>
        <url-pattern>/newservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mentoreg</servlet-name>
        <url-pattern>/mentoreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mentorlogin</servlet-name>
        <url-pattern>/mentorlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcourse</servlet-name>
        <url-pattern>/addcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displaycourses</servlet-name>
        <url-pattern>/displaycourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postassign</servlet-name>
        <url-pattern>/postassign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtime</servlet-name>
        <url-pattern>/addtime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentreg</servlet-name>
        <url-pattern>/studentreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentlogin</servlet-name>
        <url-pattern>/studentlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
